*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
}

body{
    background-image: url(./img/estrelas\ 1.png);
    background-color: black;
    height: 50vw;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

header{
    height: 100px;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.inicio a{
    position: absolute;
    top: 3.5vh;
    text-decoration: none;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ead5ff;
}

.menu{
    display: flex;
    gap: 70px; /*Distância entre os elementos*/
}

header a{
    text-decoration: none;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ead5ff;
}

header h1{
    display: inline;
    position: absolute;
    right: 10vh;
    top: 3vh;
    font-size: 20px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ead5ff;
}
.inicio img{
    height: 45px;
}

.logo img{
    height: 80px;
} 

main{
    height: 100vh;
    flex-grow: 1;
    display: flex;
}


.titulo h2{
    font-family: "Passion One", sans-serif;
    position: absolute;
    font-size: 335%;
    padding-top: 8%;
    padding-left: 12%;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(to bottom, #7A46AD, #42265e);
    background-clip:text;
    -webkit-text-fill-color: transparent; /*permite que o fundo ou imagem seja recortado de acordo com o formato do texto */
} 

.container{
    height: 100vh;
    columns: 18;
    padding-top: 15%;
}

.teste{
    color: black;
    top: 20%;
    width: 75px;
    height: 75px;
    background-color: #7A46AD;
    display: flex;
    margin: 8px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.teste:nth-child(8){
    visibility: hidden;
}
.teste:nth-child(15){
    visibility: hidden;
}
.teste:nth-child(16){
    visibility: hidden;
}
.teste:nth-child(17){
    visibility: hidden;
}
.teste:nth-child(20){
    visibility: hidden;
}
.teste:nth-child(21){
    visibility: hidden;
}
.teste:nth-child(22){
    visibility: hidden;
}
.teste:nth-child(23){
    visibility: hidden;
}
.teste:nth-child(24){
    visibility: hidden;
}
.teste:nth-child(29){
    visibility: hidden;
}
.teste:nth-child(30){
    visibility: hidden;
}
.teste:nth-child(31){
    visibility: hidden;
}
.teste:nth-child(36){
    visibility: hidden;
}
.teste:nth-child(37){
    visibility: hidden;
}
.teste:nth-child(38){
    visibility: hidden;
}
.teste:nth-child(43){
    visibility: hidden;
}
.teste:nth-child(44){
    visibility: hidden;
}
.teste:nth-child(45){
    visibility: hidden;
}
.teste:nth-child(50){
    visibility: hidden;
}
.teste:nth-child(51){
    visibility: hidden;
}
.teste:nth-child(52){
    visibility: hidden;
}
.teste:nth-child(57){
    visibility: hidden;
}
.teste:nth-child(58){
    visibility: hidden;
}
.teste:nth-child(59){
    visibility: hidden;
}
.teste:nth-child(64){
    visibility: hidden;
}
.teste:nth-child(65){
    visibility: hidden;
}
.teste:nth-child(66){
    visibility: hidden;
}
.teste:nth-child(71){
    visibility: hidden;
}
.teste:nth-child(72){
    visibility: hidden;
}
.teste:nth-child(73){
    visibility: hidden;
}
.teste:nth-child(78){
    visibility: hidden;
}
.teste:nth-child(79){
    visibility: hidden;
}
.teste:nth-child(80){
    visibility: hidden;
}
.teste:nth-child(85){
    visibility: hidden;
}
.teste:nth-child(92){
    visibility: hidden;
}
.teste:nth-child(99){
    visibility: hidden;
}
.teste:nth-child(106){
    visibility: hidden;
}
.teste:nth-child(113){
    visibility: hidden;
}
