*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

html, body{
    scroll-behavior: smooth;
}

header{
    background-image: url(./img/estrelas\ 1.png);
    background-color: black;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center
}
body{
    background-image: url(./img/estrelas\ 1.png);
    background-color: black;
}

.inicio a{
    position: absolute;
    top: 4vh;
    text-decoration: none;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ead5ff;
}

.menu{
    display: flex;
    gap: 70px; /*Distância entre os elementos */
}

header a{
    text-decoration: none;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ead5ff;
}

header h1{
    display: inline;
    position: absolute;
    right: 10vh;
    top: 3vh;
    font-size: 20px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ead5ff;
}
.inicio img{
    height: 45px;
}

.logo img{
    height: 80px;
}

#videos h1{
    font-size: 15vh;
    color: black;
    justify-content: center;
    display: flex;
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 5%;
    background-image: linear-gradient(to bottom, #7A46AD, #321D47);
    background-clip:text;
    /*permite que o fundo ou imagem seja recortado de acordo com o formato do texto */
    -webkit-text-fill-color: transparent;
}

.conteiner{
    display: flex;
    justify-content: center;
    gap: 5vh;
    margin-top: 10vh;
    
}

.rolagem{
    display: flex;
    justify-content: center;
    gap: 2vh;
    margin-top: 5vh;
}
.rolagem img{
    height: 3vh;
    align-items: center;
}
